extends sidebar
block div#mycontent
  
  div.caption
    i(class = "glyphicon glyphicon-phone-alt")
      span 
        |Completed Calls Information
    div
    div(class = "control-group span6")
      label
        | Search :
       
      input(type="search" class="light-table-filter form-control input-medium input-inline" data-table="completedcalls" placeholder="Enter search term")
      a(href ='/completedcalls/downloadcsv/',class = "downloadcsv btn btn-info")
          |Export Visitor Calls data in CSV
  
   
    div.bodycontainer.table-scrollable
      table(class = "table table-striped table-bordered table-hover completedcalls",id = "agents")
        thead
          tr
            td 
              span
                |Visitor Name
            td
              span
                |Visitor Email
            td
              span
                |Question
            td
              span
                |Current Page
            td
              span
                |Agent Name
            td
              span
                |Duration
            td
              span
                |Initiator
            
        tbody
         if (mydata.length != 0)
            - each object in mydata
              tr
                td= object.username
                td=object.useremail
                td=object.question
                td=object.currentPage
                td=object.agentname
                td=duration(object.picktime,object.endtime)
                td=object.initiator
          else
              tr
                td(colspan = 6,style = "text-align:center;")="No calls have been completed or made."
        
       